@font-face {
    font-family: "inter";
    src: url(../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

$font: "inter", sans-serif;

$white: rgb(255, 255, 255);
$grey: rgb(51, 51, 51);
$darkGrey: rgb(31, 31, 31);
$offBlack: rgb(20, 20, 20);
$green: rgb(197, 248, 42);